@import "../../../assets/sass/variables";
footer {
    padding-top: 30px;
    text-align: center;
    height: 100px;
    background: $divider-color;
    font-size: 12px;
    color: #565050;
    a {
        display: block;
        margin-top: 5px;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
}