@import "../../../assets/sass/variables";
h4 {
    margin: 0;
    color: $secondary-text-color;
}

.form {
    padding-top: 0;
    textarea {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }
    input {
        border-radius: 5px;
        margin-top: 15px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #a9a9a9
    }
    button {
        margin-top: 15px;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        background: $primary-color;
        color: #fff;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            background: $primary-color-dark;
        }
    }
    .disable {
        pointer-events: none;
        opacity: 0.6;
    }
}