@import "../../../assets/sass/variables";
.inner-wrapper {
    box-shadow: 0 0px 5px 2px rgba(10, 10, 10, 0.1);
    border-radius: 5px;
    color: $secondary-text-color;
    p {
        margin: 0;
        line-height: 1.3em;
        font-size: 15px;
        &:last-of-type {
            margin-top: 15px;
        }
    }
}